* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "UTMNeoSansIntel", sans-serif;
    font-size: 12px;
}

body {
    font-size: 15px;
    width: 100%;
    margin: 0px auto;
    font-family: "UTMNeoSansIntel", sans-serif;
    font-size: 12px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clear-fix {
    clear: both;
}


/* ===================================================== */

.menutop {
    height: 90px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_nav a {
    color: #000;
    padding: 30px;
}

.navbar-nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 70px;
    justify-content: center;
}

.navbar-nav a {
    color: #334862;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}

.menutop li {
    float: left;
}

.input-group {
    width: 13% !important;
    padding: 10px 30px 5px;
    border: 1px solid #d6d6d8;
    border-radius: 25px;
}

.giohang {
    flex: 1;
    height: 100%;
    padding-top: 30px;
    padding-left: 10px;
}

.giohang img {
    height: 30px;
}

.dang-nhap img {
    height: 20px;
    padding-left: 10px;
}

.logout {
    flex: 1;
}

.banner {
    height: 650px;
    width: 100%;
}

.banner .carousel-inner {
    height: 650px;
    width: 100%;
}

.banner .carousel-inner img {
    width: 100%;
    height: 100%;
}


/* ===================================================== */

.main-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 1200px;
    display: flex;
    border: 1px solid #d6d6d8;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}

.main .donhang .tittle {
    font-size: 25px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.main .donhang .sp {
    display: flex;
    align-items: center;
    width: 1000px;
    height: 200px;
}

.main .donhang .text {
    font-size: 15px;
    padding-left: 30px;
    flex: auto;
    font-weight: bold;
    text-align: end;
}

.main .donhang .text5 {
    font-size: 15px;
    padding-left: 30px;
    color: #874546;
    flex: auto;
    font-weight: bold;
}

.main i {
    font-size: 15px;
}

.main .text1 {
    font-size: 15px;
    padding-left: 100px;
    flex: auto;
    font-weight: bold;
    text-align: end;
}

.main .donhang .gach {
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
}

.main .donhang .ten .text2 {
    font-size: 15px;
    padding-left: 270px;
    flex: auto;
    font-weight: bold;
    text-align: -webkit-center;
}

.main .donhang .text3 {
    font-size: 17px;
    padding-left: 600px;
    flex: auto;
    font-weight: bold;
    padding-top: 15px;
    text-align: end;
}

.main .tam-tinh {
    display: flex;
}

.main .text4 {
    font-size: 17px;
    padding-left: 100px;
    flex: auto;
    font-weight: bold;
    padding-top: 30px;
}

.main .donhang .ten {
    display: flex;
}

.main .donhang .text i {
    font-size: 17px;
    font-weight: bold;
}

.main .donhang .giohang-img {
    padding-left: 50px;
}

.main .dathang .thongtin-sp .muahang-wrap {
    display: flex;
    align-items: center;
    padding-top: 30px;
    font-size: 20px;
}

.main .muahang-wrap .soluong-btn {
    border-radius: 20px;
    border: 1px solid;
    padding: 5px 10px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.main .muahang-wrap .soluong-btn button {
    font-size: 16px;
    background: transparent;
    padding: 0 10px;
}

.main .muahang-wrap .soluong-btn input {
    width: 60px;
    text-align: center;
}

.btn-send {
    background: #874546;
    color: #d6d6d8;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 30px 5px;
    border: 1px solid #d6d6d8;
    border-radius: 25px;
    margin-bottom: 40px;
    margin-top: 20px;
    font-weight: bold;
    margin-top: 30px;
}

.btn-send:hover {
    background: none;
    color: black;
}

.main .button {
    display: flex;
    justify-content: space-between;
}

.btn-send a {
    text-decoration: none;
    color: #d6d6d8;
    font-weight: bold;
    font-size: 16px;
}

.btn-send a:hover {
    color: #fff;
    text-decoration: none;
    color: #d6d6d8;
    font-weight: bold;
    font-size: 16px;
}


/* ================================================== */

.footer {
    width: 100%;
    text-align: center;
    color: #48484a height: 300px;
    clear: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f8f8f8;
}

.footer-wrap {
    display: flex;
}

.footer-item .is-divider {
    background: black;
    width: 40px;
    height: 5px;
}

.footer-item {
    padding: 50px 50px;
}

.footer-item div {
    text-align: left;
    line-height: 30px;
    font-size: 14px;
}

.design {
    color: #48484A width: 100%;
    height: 50px;
}

.design div {
    padding: 18px 100px;
    text-align: center;
}