* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "UTMNeoSansIntel", sans-serif;
    font-size: 12px;
}

body {
    font-size: 15px;
    width: 100%;
    margin: 0px auto;
    font-family: "UTMNeoSansIntel", sans-serif;
    font-size: 12px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clear-fix {
    clear: both;
}


/* ===================================================== */

.menutop {
    height: 90px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_nav a {
    color: #000;
    padding: 30px;
}

.navbar-nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 70px;
    justify-content: center;
}

.navbar-nav a {
    color: #334862;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}

.menutop li {
    float: left;
}

.input-group {
    width: 13% !important;
    padding: 10px 30px 5px;
    border: 1px solid #d6d6d8;
    border-radius: 25px;
}

.giohang {
    width: 50px;
    height: 100%;
    padding-top: 30px;
    padding-left: 10px;
}

.giohang img {
    height: 30px;
}

.dang-nhap img {
    height: 20px;
    padding-left: 10px;
}

.username {
    padding-left: 10px;
    flex: 1;
}

.banner {
    height: 650px;
    width: 100%;
}

.banner .carousel-inner {
    height: 650px;
    width: 100%;
}

.banner .carousel-inner img {
    width: 100%;
    height: 100%;
}


/* ================================================== */

.main-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 1000px;
    justify-content: center;
    align-items: center;
}

.main .thongtin-img {
    text-align: center;
    padding-bottom: 50px;
}

.main .contact {
    padding-top: 50px;
}

.main .contact .nd {
    font-size: 15px;
}

.main .contact .diachi {
    font-size: 15px;
    font-weight: bold;
}

.main .contact .gach {
    border-bottom: 1px solid #ddd;
    position: relative;
    padding-bottom: 10px;
}

.main .contact .text {
    padding-top: 10px;
    font-size: 15px;
    width: 1000px;
    outline: none;
}

.btn-send {
    background: #874546;
    color: #d6d6d8;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 30px 5px;
    border: 1px solid #d6d6d8;
    border-radius: 25px;
    margin-bottom: 40px;
    margin-top: 20px;
    font-weight: bold;
}

.btn-send:hover {
    background: none;
    color: black;
}

.btn-send a {
    text-decoration: none;
    color: #d6d6d8;
    font-weight: bold;
    font-size: 16px;
}

.btn-send a:hover {
    color: #fff;
    text-decoration: none;
    color: #d6d6d8;
    font-weight: bold;
    font-size: 16px;
}


/* ================================================== */

.footer {
    width: 100%;
    text-align: center;
    color: #48484a height: 300px;
    clear: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f8f8f8;
}

.footer-wrap {
    display: flex;
}

.footer-item .is-divider {
    background: black;
    width: 40px;
    height: 5px;
}

.footer-item {
    padding: 50px 50px;
}

.footer-item div {
    text-align: left;
    line-height: 30px;
    font-size: 14px;
}

.design {
    color: #48484A width: 100%;
    height: 50px;
}

.design div {
    padding: 18px 100px;
    text-align: center;
}