.crow .date {
    color: darkgray;
}

a.card {
    text-decoration: none;
    cursor: pointer;
}

.wrapper .content-wrapper .content {
    margin-bottom: 30px;
}

.col-sm-12 .date {
    padding: 30px 20px 30px 0px;
}

.btn-null {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .35rem;
    color: #fff;
    background-color: #e74a3b;
    border-color: #e74a3b;
}

.container-fluid {
    background: #fff;
    margin-bottom: 30px;
}