
/* ===================================================== */

.main-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 1000px;
    display: flex;
}

.main .thongtin-img {
    text-align: center;
    padding-bottom: 50px;
}

.main .contact {
    padding-top: 50px;
}

.main .contact .nd {
    font-size: 15px;
}

.main .contact a {
    font-size: 15px;
}

.main .contact .xacnhan .xn-wrap {
    display: flex;
}

.main .contact .xn {
    font-size: 15px;
    padding-right: 10px;
    color: #874546;
}

.main .contact .xn i {
    font-size: 17px;
    font-weight: bold;
}

.main .contact .xacnhan .gach1 {
    border-bottom: 1px solid #ddd;
    width: 200px;
    margin-bottom: 10px;
}

.main .contact .gach2 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
}

.main .contact .text {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #d6d6d8;
    border-radius: 25px;
    width: 500px;
    outline: none;
    padding-left: 20px;
}

.btn-send {
    background: #874546;
    color: #d6d6d8;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 30px 5px;
    border: 1px solid #d6d6d8;
    border-radius: 25px;
    margin-bottom: 40px;
    margin-top: 20px;
    font-weight: bold;
}

.btn-send:hover {
    background: none;
    color: black;
}

.main .img {
    padding-top: 100px;
    padding-left: 30px;
    padding-bottom: 50px;
}

 