  
/* ===================================================== */

.main-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 1000px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main .tittle {
    font-weight: bold;
    font-size: 20px;
    padding-top: 50px;
}

.main .text {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #d6d6d8;
    width: 500px;
    outline: none;
    padding-left: 20px;
    margin-bottom: 10px;
}

.btn-send {
    background: #874546;
    color: #d6d6d8;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 30px 5px;
    border: 1px solid #d6d6d8;
    margin-top: 20px;
    font-weight: bold;
    width: 500px;
}

.btn-send:hover {
    background: none;
    color: black;
}

.main .dangki {
    padding-bottom: 20px;
    font-size: 13px;
    font-weight: bold;
    padding-top: 10px;
}

.main .dangki a {
    font-size: 13px;
    color: #874546;
}
 