* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "UTMNeoSansIntel", sans-serif;
    font-size: 12px;
}

body {
    font-size: 15px;
    width: 100%;
    margin: 0px auto;
    font-family: "UTMNeoSansIntel", sans-serif;
    font-size: 12px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clear-fix {
    clear: both;
}


/* ===================================================== */

.menutop {
    height: 90px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_nav a {
    color: #000;
    padding: 30px;
}

.navbar-nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 70px;
    justify-content: center;
}

.navbar-nav a {
    color: #334862;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}

.menutop li {
    float: left;
}

.input-group {
    width: 13% !important;
    padding: 10px 30px 5px;
    border: 1px solid #d6d6d8;
    border-radius: 25px;
}

.giohang {
    width: 50px;
    height: 100%;
    padding-top: 30px;
    padding-left: 10px;
}

.giohang img {
    height: 30px;
}

.dang-nhap img {
    height: 20px;
    padding-left: 10px;
}

.username {
    padding-left: 10px;
    flex: 1;
}

.banner {
    height: 650px;
    width: 100%;
}

.banner .carousel-inner {
    height: 650px;
    width: 100%;
}

.banner .carousel-inner img {
    width: 100%;
    height: 100%;
}


/* ===================================================== */

.wrap-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 1000px;
}


/* MENU TOP */


/* ===================================================================== */

.main .menu-top {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
}

.main .menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 17px 30px;
    border: 1px solid #dddede;
}

.main .menu-item-img {
    width: 74px;
    height: 74px;
}

.main .menu-item-name {
    margin-top: 5px;
    font-size: 16px;
    color: #48484a;
}


/* ===================================================================== */

.title-wrap {
    border-bottom: 2px solid #ddd;
    position: relative;
    margin-top: 100px;
}

.title {
    position: absolute;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    background: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 50px;
}


/* ===================================================================== */

.btn-see-all-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-see-all {
    background: none;
    color: #d6d6d8;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 30px 5px;
    border: 1px solid #d6d6d8;
    border-radius: 25px;
    margin-bottom: 40px;
    margin-top: 20px;
    font-weight: bold;
}

.btn-see-all:hover {
    background: #874546;
    color: #fff;
}

.btn-see-all a {
    text-decoration: none;
    color: #d6d6d8;
    font-weight: bold;
    font-size: 16px;
}

.btn-see-all a:hover {
    background: #874546;
    color: #fff;
    text-decoration: none;
    color: #d6d6d8;
    font-weight: bold;
    font-size: 16px;
}


/* ===================================================================== */

.loai-san-pham-wrap {
    margin-bottom: 100px;
}

.loai-san-pham-wrap .ds-san-pham {
    display: flex;
    justify-content: space-between;
}

.loai-san-pham-wrap .ds-san-pham .san-pham {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 208px;
    text-align: center;
}

.loai-san-pham-wrap .ds-san-pham .san-pham a {
    color: black;
}

.loai-san-pham-wrap .ds-san-pham .san-pham img {
    width: 100%;
}

.loai-san-pham-wrap .ds-san-pham .san-pham .san-pham-name {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px;
}

.loai-san-pham-wrap .ds-san-pham .san-pham-gia {
    font-weight: 700;
    color: #874546;
    font-size: 18px;
}


/* ================================================== */

.content {
    height: 20 0px;
    background-color: #4b515d;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

.content-top {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-item {
    display: flex;
}

.img {
    background-color: #874546;
    border-radius: 50%;
    padding: 30px;
    color: #fff;
}

.img img {
    width: 40px;
    height: 33px;
}

.wrap-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.combo1 {
    display: flex;
    flex-direction: row;
    padding: 70px 70px 70px 70px;
}

.content1 {
    padding: 10px 10px 10px 10px;
}

.content2 {
    padding: 10px 10px 10px;
}


/* ================================================== */

.footer {
    width: 100%;
    text-align: center;
    color: #48484a;
    height: 300px;
    clear: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-wrap {
    display: flex;
}

.footer-item .is-divider {
    background: black;
    width: 40px;
    height: 5px;
}

.footer-item {
    padding: 50px 50px;
}

.footer-item div {
    text-align: left;
    line-height: 30px;
    font-size: 14px;
}

.design {
    background-color: #f8f8f8;
    color: #48484A;
    width: 100%;
    height: 50px;
}

.design div {
    padding: 18px 100px;
    text-align: center;
}